<section class="service" id="service">
  <div class="service__container">
    <p class="subtitulo">¿Por qué elegirnos?</p>
    <h2 class="titulo">Estamos con vos en cada momento</h2>
    <p class="section__description">
      Brindamos calidad, dedicación y un servicio pensado para vos.
    </p>

    <div class="service__grid">
      <div class="service__card animate-on-scroll from-left">
        <i class="ri-star-smile-line"></i>
        <h4>Eventos Especiales</h4>
        <p>Nos encanta ser parte de tus celebraciones. Creamos propuestas únicas para cada ocasión.</p>
      </div>

      <div class="service__card animate-on-scroll from-left">
        <i class="ri-store-2-line"></i>
        <h4>Venta por Mayor</h4>
        <p>Ofrecemos soluciones a medida para cafés, restaurantes y locales gastronómicos.</p>
      </div>

      <div class="service__card animate-on-scroll from-right">
        <i class="ri-gift-line highlight-icon"></i>
        <h4>Box Personalizadas</h4>
        <p>Regalos únicos para empresas y ocasiones especiales.</p>
      </div>

      <div class="service__card animate-on-scroll from-right">
        <i class="ri-hand-heart-line"></i>
        <h4>Atención Cercana</h4>
        <p>Te acompañamos desde el primer contacto hasta que recibís tu pedido, con calidez y compromiso.</p>
      </div>
    </div>
  </div>
</section>
