<app-navbar></app-navbar>

<section class="contactSection">
  <div class="contactGrid">
    
    <!-- Mapa -->
    <div class="mapContainer">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.177349125998!2d-58.6479101!3d-34.6502238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbf54edc30f9f%3A0xe1a9530d442599b2!2sGRADO%20BRIX!5e0!3m2!1ses-419!2sar!4v1753483601749!5m2!1ses-419!2sar"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

    <!-- Información de contacto -->
    <div class="infoContainer">
      <h2>Contacto</h2>
      <p><strong>Dirección:</strong></p>
      <p><strong>Teléfono:</strong></p>
      <p><strong>Email:</strong></p>
      <p><strong>Horarios:</strong> </p>

      <button class="btn">Escribinos por WhatsApp</button>
    </div>

  </div>
</section>
