<div class="about-us">
    <div class="about-text">
      <p class="subtitle">°Brix está con vos</p>
      <h2 class="title">Sobre nosotros</h2>
      <p class="description">
        Nos encanta ser parte de tus momentos especiales: alegrías, reuniones y celebraciones.
        Creemos que la comida es uno de los mayores placeres de la vida, y compartirla lo hace aún más especial.
        Por eso, en nuestro equipo trabajamos con pasión, buscando siempre la perfección, la mejor calidad y un
        servicio excepcional, para que cada ocasión sea única e inolvidable.
      </p>
      <button class="button">Conócenos</button>
    </div>
    <div class="about-image">
      <img src="../../../../../assets/img/aboutUs.jpg" alt="Torta con chocolate">
    </div>
  </div>

  
