<app-navbar></app-navbar>
<section class="sobre-nosotros">
  <div class="grid-container">

    <!-- Banner -->
    <div class="imagen-banner">
      <img src="../../../assets/img/Banner__AboutUs.png" alt="Brix">
    </div>

    <!-- Texto izquierda - Imagen derecha -->
    <div class="texto-izquierda">
      <div class="titulo-izq">
        <h3 class="subtitulo">Melina Luchetti</h3>
        <h2>Esta es mi historia</h2>
      </div>
      <p>
        Desde siempre, <strong>la pastelería</strong> ha sido mi lenguaje, mi manera de crear y compartir.
        Me formé en el <strong>IAG</strong> y con <strong>Beatriz Chomnalez</strong>, y luego perfeccioné mis técnicas en <strong>España y Francia</strong>.
        Sin embargo, mi mayor aprendizaje llegó con la <strong>experiencia</strong>, trabajando en distintos hoteles y absorbiendo técnicas y sabores que marcaron mi camino.
      </p>
      <p>
        Pero fue una <strong>esquina de Castelar</strong> la que cambió mi destino.
        Llegué por una propuesta irresistible y, al ver ese espacio, supe que ahí debía estar.
        Así nació <strong>Brulee</strong>, mi primer proyecto a los <strong>25 años</strong>, inspirado en mi postre favorito.
        Diseñamos el lugar junto a mi hermana, arquitecta, y di vida a una carta llena de mis recetas.
        Fue un viaje increíble de <strong>aprendizaje y crecimiento</strong>, hasta que la pandemia nos obligó a cerrar.
      </p>
    </div>

    <div class="imagen-derecha">
      <app-swiper-history></app-swiper-history>
    </div>

    <!-- Texto derecha - Imagen izquierda -->
    <div class="imagen-izquierda">
      <app-swiper-team></app-swiper-team>
    </div>

    <div class="texto-derecha">
      <p>
        Dudé sobre mi siguiente paso, pero mi <strong>amor por este lugar</strong> fue más fuerte.
        Así nació <strong>Grado Brix</strong>, una pastelería y boulangerie donde cada detalle lleva mi esencia.
        Esta vez al mando en solitario, con nuevas propuestas y con el mismo compromiso de siempre:
        <strong>priorizar la calidad y la originalidad</strong>.
        Me acompaña un <strong>equipo calificado</strong>, porque sé que el <strong>trabajo en conjunto</strong> es clave para brindar un mejor servicio.
      </p>
      <p>
        Agradezco a quienes me acompañan en este camino.
        Disfruto cada parte del proceso y espero que ustedes también.
        <strong>¡Los espero en mi querida esquina!</strong>
      </p>
      <h2 class="gracias">Gracias!</h2>
    </div>
  </div>
</section>