<section class="section-menu">
  <p class="subtitle">Descubrí nuestras especialidades</p>
  <h2 class="titulo">Nuestro Menú</h2>

  <swiper-container
      slides-per-view="1"
      slides-per-group="1"
      space-between="16"
      navigation="true"
      breakpoints='{
      "640": { "slidesPerView": 2 },
      "1024": { "slidesPerView": 3 }
      }'
  >
    <swiper-slide *ngFor="let item of categories; let i = index" class="animate-on-scroll from-bottom">
      <div 
      class="card" 
      [attr.data-index]="i"
      [routerLink]="item.Routing">
        <img [src]="item.imageSrc" [alt]="item.imageSrc" />
        <h3>{{ item.title }}</h3>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
<app-whatsapp-btn></app-whatsapp-btn>