<div class="grid-container">
    <div class="section boulangerie">
      <img src="assets/img/boulangerie.jpg" alt="Boulangerie">
      <div class="text-container">
        <!-- <p class="subtitle">Tentate con nosotros...</p> -->
        <h2 class="title">Boulangerie</h2>
        <p class="description">Lorem ipsum dolor sit amet consectetur. Dui sagittis phasellus tellus malesuada sit. Cras in morbi dictumst sem aliquam venenatis neque. Sed amet auctor blandit libero. Nunc suspendisse nullam a leo consectetur pellentesque vivamus.</p>
        <button>Hacé tu pedido</button>
      </div>
    </div>
  </div>
  